html { 
  background: url(images/notimesbackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-family: verdana, arial, sans-serif;
    background-color: transparent;
    color: white;
}

#cover {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
}

#cover img {
    height: 70%;
    width: auto;
    resize: both;
    overflow: auto;
}

.tour-padding {
    padding-bottom: 10px;
}

.highlight {
    background-color: rgba(255, 255, 255, 0.2);
}
